[user]
	name = Jeff Hykin
	email = jeff.hykin@gmail.com
	signingkey = D358F55B52C65F12
[pull]
	rebase = false
[color]
	ui = true
[push]
	default = upstream
[core]
	editor = nano
[safe]
	directory = /Users/jeffhykin/repos/nix-ros-overlay-generated
[advice]
	detachedHead = false
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = "code --wait --diff  "
[gpg]
	program = gpg
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
