[user]
	name = Jeff Hykin
	email = jeff.hykin@gmail.com
[pull]
	rebase = false
[color]
	ui = true
[push]
	default = upstream
[core]
	editor = nano
[safe]
	directory = /Users/jeffhykin/repos/nix-ros-overlay-generated
[advice]
	detachedHead = false
